@value primaryText from '../../styles/colors.module.css';

.bar {
    background-color: white;
    text-align: center;
    width: 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 0.75rem;
    color: primaryText;
    font-weight: 600;
    transition: width 0.2s ease-out;
}

.roundAllCorners {
    border-radius: 10px;
}

.roundTopCorners {
    border-radius: 10px 10px 0px 0px;
    width: 104%;
    margin: 0 -2%;
}

.bar:hover {
    background-color: #edf2f7;
}


.menu {
    background-color: white;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 70vh;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    -webkit-overflow-scrolling: touch;
    animation: appear 0.25s ease-out;

}

.item {
    cursor: pointer;
    text-align: center;
    padding: 0.75rem;
    font-weight: 400;
    
}

.item:hover {
    background-color: #edf2f7;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}